@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 768px;
    height: 575px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .left {
    width: 50%;
    /* border: 1px solid red; */
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    background: url(./images/image-product-desktop.jpg) center center/cover;
}

section .right {
    width: 50%;
    /* border: 1px solid red; */
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    padding: 50px;
    background: hsl(0, 0%, 100%);
}

section .p1 {
    color: hsl(228, 12%, 48%);
    letter-spacing: 6px;
    margin-bottom: 30px;
}

section .p2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    line-height: 40px;
}

section .p3 {
    margin-top: 30px;
    color: hsl(228, 12%, 48%);
    line-height: 25px;
    font-size: 17px;
}

section .price {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section .price p:nth-child(1) {
    margin-right: 20px;
    font-size: 40px;
    color: hsl(158, 36%, 37%);
    font-weight: 400;
    font-family: 'Fraunces', serif;
}

section .price p:nth-child(2) {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

section .addtocart {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .addtocart a {
    background: hsl(158, 36%, 37%);
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    border-radius: 15px;
    font-weight: 700;
}

section .addtocart img {
    margin-right: 10px;
}

section .addtocart a:hover {
    background: hsl(156, 42%, 18%);
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        height: auto;
    }

    section .left {
        height: 310px;
        border-radius: 0px;
        border-radius: 15px 15px 0px 0px;
    }

    section .right {
        height: auto;
        border-radius: 0px 0px 15px 15px;
        padding: 30px;
    }

    section .p1 {
        margin-bottom: 20px;
    }

    section .p2 {
        font-size: 38px;
    }

    section .p3 {
        font-size: 16px;
    }

    section .addtocart a {
        padding: 20px 0px;
    }


}